html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	background: #e2e2e2;
    background: -moz-linear-gradient(left, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-linear-gradient(left, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -o-linear-gradient(left, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -ms-linear-gradient(left, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: linear-gradient(to right, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

}

header p {
    color: white;
	
}

header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background: #202c36;
}

header nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

nav a {
    padding: 0.8em;
    background: #945319;
    margin: 0;
    text-decoration: none;
    border-bottom: solid 1px;
    color: white;
}
table {
		background: white;
}
nav a.active {
    background: #e3791c;
}

main {
    margin: 0 auto;
    width: 65%;
	background: white;
	display: inline-flex;

}

div.shadow {
    margin: 0 auto;
	padding: 1em;
	background: white;
	display: inline-table;

}
main div {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.25em;
    text-align: left;
    border: 1px solid #ccc;
}

table td form {
    display: inline-block;
    padding-top: 5px;
}