body {
    margin: 0;
}

header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
    background: beige;
}

nav a {
    padding: 0.8em;
    background: #FF9800;
    margin: 0;
    text-decoration: none;
    color: #242730;
}

nav a.active {
    background: #03A9F4;
}

nav a:first-of-type {
    border-radius: 10px 0 0 10px;
}

nav a:last-of-type {
    border-radius: 0 10px 10px 0;
}

main {
    margin: 0 auto;
    width: 75%;
}

main div {
    margin-bottom: 2em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.25em;
    text-align: left;
    border: 1px solid #ccc;
}

table td form {
    display: inline-block;
    padding-top: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: dimgrey;
}

footer div {
    margin-bottom: 1em;
    margin-top: 1em;
}